body{
	background-image: url('https://i.redd.it/6u1x7l0x5m1c1.gif');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
	padding: 0px;
}
h1{
	display: flex;
	flex-direction: center;
	align-items: center;
	color: white;
	height: 60px;
	border: solid black 10px;
}
header{
	background-color: black;
	border-radius: 10px;
	border: black solid 1px;
}
a{
	display: flex;
	align-items: center;
	margin: 100px;
	width: 250px;
	border: black solid;
	background-image: url('https://pfpfinder.com/uploads/Frieren-Beyond-1704597606523.png');
	border-radius: 10px;
}