body{
  background-image: url('https://media1.tenor.com/images/77ee801ac93988dd8a84b618e007a840/tenor.gif?itemid=17602315');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1{
	font-family: sans-serif;
	color: #FF4D6D;
	border: black solid 10px;
	padding: 10px;
	width: 200px;
	border-radius: 25px;
	background-color: black;
}
p{
	color: white;
	width: 700px;
	border: solid black 3px;
	background-color: black;
	padding: 15px;
	border-radius: 20px;
} 
img{
	transition: 0.5s;
	width: 290px;
	transition: transform 0.5s;
}
img:hover{
	position: relative;
	margin: 10px;
	cursor: pointer;
	transform: scale(1.1)
}