body{
	background-color: #F7EEED;
	}
header{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2F2F2F;
	border: black solid 5px;
	border-radius: 15px;
	}
h1{
	color: white;
	}
a{
	margin-left: 25px;
	text-decoration: none;
	color: white;
	font-size: 15px;
	font-family: "Inter", sans-serif;
	font-weight: bold;
	transition: 0.5s;
	padding: 5px;
	}
a:hover{
	background-color: #B6B6B6;
	padding: 10px;
	border-radius: 15px;
}
ul{
	display: flex;
	flex-direction: row;
	align-items: center;
}
section{
	text-align: center;
}